@charset "UTF-8";
/* CSS Document */

body {
  width: 100%;
  background: #f2f2f2 url('images/bg.jpg');
  background-repeat: repeat-x repeat-y;;
  font-family: 'Lato', sans-serif;
  color: #666;
  text-align: center;
  margin: 0;
  padding: 0;
}


#wrapper {
width: 960px;
background-color: #FFF;
margin-left:auto;
margin-right:auto;
}

header {
height: 80px;
width: 100%;
padding: 5px;
background: #fff;
}

nav {
width:960px;
}
.navMenu {
  float: right;
}
.navMenu li{
  float: left;
  margin: 5px;
  padding: 5px;
}
.logo{
  float: left;
}
.headerContain{
  width: 80%;
  margin: 0 auto;
}

#content {
float: left;
width:660px;

}

#rightcol {
float: left;
width: 300px;
}

footer {
clear:both;
height: 50px;
}

form {
  width: 450px;
  margin: 17% auto;
}


.header {
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 5px;
}


.description {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}


.input {
  display: flex;
  align-items: center;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 75%;
  background: #Fff;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
}


#submit {
  width: 25%;
  height: 46px;
  background: #fa6121;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}
  

#submit:hover {
  background: #d45d7d;
}
  

input:focus {
  outline: none;
  outline: 2px solid #fa6121;
  box-shadow: 0 0 2px #E86C8D;
}
.steps
{
	float: left;
	
	border-radius: 2%;
	background: #fff;
	padding: 5px;
	margin: 5px;
	width: 250px;
	height: 200px;

}
.mainPage{
width: 100%;
}
.middleContent{
width: 900px;
margin: 0 auto;
}
